.todoCompleted {
  text-decoration: line-through;
  color: #b4b9c1;
}

.container {
  height: 100%;
  display: grid;

  grid-template-rows: 100px auto;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 10px;
  grid-template-areas:
    'title'
    'todoList';
}

.title {
  grid-area: title;
  text-align: center;
}

.todoList {
  grid-area: todoList;
  text-align: center;
  vertical-align: middle;
}

.deleteTodoButton {
  cursor: pointer;
  margin-left: 20px;
}
