

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">hoppeh.github.com</span>
    <button mat-button routerLink="/todos">Todos</button>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
<div class="title">
  <h1>Hoppeh Test app</h1>
</div>



  <div class="leftConftent divBorder">
    <h1>Counter</h1>
      <button (click)="increment()" mat-raised-button color="primary">Increment</button>
      <button (click)="decrement()" mat-raised-button color="accent">Decrement</button>
      <div>Current Count: {{ count$ | async }}</div>

      <button (click)="reset()" mat-raised-button color="warn">Reset Counter</button>
  </div>
  <div class="rightConftent divBorder">
    <router-outlet ></router-outlet>
    </div>
</div>
