<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Hoppeh Test app</h1>  <button (click)="addTodo({id:'1',name: 'Test1',completed: false,CompletedTime: null})">Add Todo</button>
  <button (click)="resetTodos()">Reset todos</button>

  <div *ngIf="!((todos$ | async)?.length)">
    Finner ingen todos Gratulerer
  </div>
  <div>
    Antall Todos - {{(todos$ | async)?.length}}
  </div>
  <ul>
  <li *ngFor="let todo of todos$ | async">
    {{todo.name}} <button type="button" name="button" (click)="deleteTodo(todo.id)">Delete</button>
  </li>
  </ul>


  <button (click)="increment()">Increment</button>
    <div>Current Count: {{ count$ | async }}</div>
    <button (click)="decrement()">Decrement</button>

    <button (click)="reset()">Reset Counter</button>

  <router-outlet></router-outlet>
<h1>Todos</h1>
