<div class="container">
  <div class="title">
    <h1>Ny registrering</h1></div>
  <!-- <div class="jsonClass">{{loggFormGroup.value | json}} - UrlState: {{routerUrlState | async}} - loggEdit - {{loggEdit}}</div> -->

  <form class="" novalidate [formGroup]="loggFormGroup" (ngSubmit)="onSubmit()">
    <div class="formClass">
      <div class="formInput" *ngIf="isEditMode">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Velg en dato og tidspunkt" formControlName="tidspunkt">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="formInput">
        <mat-slide-toggle formControlName="blod" color="primary">Blod i avføringen?</mat-slide-toggle>
      </div>
      <div class="formInput">
        <mat-slide-toggle formControlName="slim" color="primary">Slim i avføringen?</mat-slide-toggle>
      </div>

      <mat-form-field class="formInput">

        <input matInput type="text" mat-raised-button formControlName="form" placeholder="Hvordan har formen vært?" autocomplete='false | random-string'>
        <!-- <mat-error *ngIf="form.hasError('required')">
      Du må skrive inn noe for å legge til en todo.
    </mat-error> -->
      </mat-form-field>

      <mat-form-field class="formInput">
        <input type="text" placeholder="Konsistens på avføringen?" aria-label="Number" matInput formControlName="konsistens" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
          <mat-option *ngFor="let konsistens of filtreteValgKonsistens | async" [value]="konsistens">
            {{ konsistens }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- <mat-form-field class="formInput">
        <input matInput type="" mat-raised-button #konsistens formControlName="konsistens" placeholder="Konsistens på avføring" autocomplete='false | random-string'>
        <mat-hint align="end">{{konsistens.value.length}} / 20</mat-hint>
        <mat-error *ngIf="formtest.hasError('required')">
      Du må skrive inn noe for å legge til en todo.
    </mat-error>
      </mat-form-field> -->
      <mat-form-field class="formInput">
        <textarea matInput #kommentar placeholder="Kommentar?" formControlName="kommentar"></textarea>
        <mat-hint align="end">{{kommentar.value.length}} / 256</mat-hint>
        <mat-error *ngIf="loggFormGroup.hasError('kommentar')">
          OBS! Det kan maks være 250 tegn i kommentaren.
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field class="formInput">
    <input matInput type="" mat-raised-button formControlName="signatur" placeholder="Signatur" autocomplete= 'false | random-string'>
    <mat-error *ngIf="formtest.hasError('required')">
      Du må skrive inn noe for å legge til en todo.
    </mat-error>
    </mat-form-field> -->

      <button type="submit" *ngIf="selectedLogg===undefined" class="formInput" [disabled]="loggFormGroup.invalid" matInput color="primary" mat-raised-button>Lagre logg</button>
    </div>
  </form>
  <button type="submit" (click)="onUpdate()" *ngIf="selectedLogg!==undefined" class="formInput" [disabled]="loggFormGroup.invalid" matInput color="primary" mat-raised-button>Update logg</button>
  <button class="backButton" (click)="onNavigateBack()" mat-raised-button color="primary">Tilbake</button>
</div>