div {
  // border: 1px solid black;
}

.formClass {
  width: 100%;
}

.container {
  height: 100%;
  display: grid;
  text-align: center;

  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 40px auto;
  grid-gap: 5px;
  grid-template-areas:
    'title'
    'formContainer'
    'backButton';
}

.title {
  height: 100px;
  grid-area: title;
  text-align: center;
}

.backButton {
  grid-area: backButton;
}

.jsonClass {
  grid-area: json;
  text-align: center;
  vertical-align: top;
  height: 50px;
}
.formClass {
  grid-area: formContainer;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 40px 40px auto;
}
.formInput {
  text-align: center;
  vertical-align: middle;
}

.deleteTodoButton {
  cursor: pointer;
  margin-left: 20px;
}
