<div class="container">

  <div class="title">
    <h3>LOGG LIST-TEST</h3>
    <button mat-raised-button type="button" name="button" (click)="loadLoggs()"> Sync loggs from DB</button>
    <div *ngIf="((loggs | async)?.length)">
      Antall Logg entries - {{(loggs | async)?.length}}
    </div>
    <div *ngIf="!((loggs | async)?.length)">
      <span>Finner ingen logger</span>
    </div>
  </div>

  <div class="loggList">
    <mat-card *ngFor="let logg of loggs | async" class="example-card">
      <mat-card-content >

          {{logg.id}} - {{logg.tidspunkt | date:'dd/MM/yyyy HH:mm':'+0000'}} - {{logg.signatur}}
          {{logg.kommentar}} - {{logg.matKommentar}} - {{logg.konsistens}} -
          {{logg.slim}} -
          {{logg.blod}} -
          {{logg.form}} -



        <mat-icon class="deleteLoggButton" (click)="deleteLogg(logg)">delete</mat-icon>
        <!-- <button mat-raised-button (click)="deleteTodo(todo.id)" color="warn">Delete</button> -->
      </mat-card-content>
    </mat-card>
  </div>
</div>
